.ride{
                font-family: Arial;
                font-size: 40px;
                width: 500px;
                margin-bottom: 20px;
            }
            input{
                display: block;
                background-color: rgb(240,240,240);
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 100px;
                border: none;
                margin-bottom: 8px;
            }
            .Request{
                color: white;
                background-color: black;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                padding-left: 16px;
                padding-right: 16px;
                font-size: 10px;
            }
            .Schedule{
                font-size: 10px;
                border: none;
                padding-bottom: 12px;
                padding-top: 12px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 15px;
                margin-left: 10px;
            }